<footer class="footer-bar">
    <h1>Contact us:</h1>
    <ul>
        <li>
            <a href="mailto:220211227@psu.edu.sa,221110390@psu.edu.sa,221110083@psu.edu.sa" class="contact-link">Email
                us!</a>
        </li>
        <li>
            <a href="https://github.com/MUGK1/Blog" class="contact-link">Github</a>
        </li>
    </ul>
    <p>All rights reserved.</p>
</footer>
</body>

</html>