<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css-reset.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>
        <%= title %>
    </title>
</head>

<body class="post-body">
    <header>
        <nav class="header-bar">
            <ul>
                <li class="logo-box">
                    <a href="/"><img src="/assets/logo.png" id="logo" alt="logo" /></a>
                    <a href="/">Blogger</a>
                </li>
            </ul>

            <div class="hamburger-menu" id="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <ul class="nav-bar">
                <li class="flex" id="nav1">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="flex" id="nav2">
                    <a href="/archive" class="nav-link">Archive</a>
                </li>
                <li class="flex" id="nav3">
                    <a href="/post-editor" class="nav-link">Post</a>
                </li>
                <li class="flex" id="nav4">
                    <a href="/login" class="nav-link">Login</a>
                </li>
            </ul>
        </nav>
    </header>