<%- include('./partials/header.ejs') %>

  <main>
    <section class="section">
      <div class="section-content container">
        <h1>Stay Curious.</h1>
        <p>
          Discover stories, thinking, and expertise <br />
          from writers on any topic.
        </p>
        <a href="login">Login</a>
      </div>
    </section>
    <article class="container">
      <h1>Posts</h1>

      <a href="post" class="post">
        <section class="post-left">
          <div>
            <p class="post-left-blogger">Peter Diamandis</p>
            <h2>Will AI Replace All Coders?</h2>
          </div>

          <p class="post-left-description">
            During last year’s Abundance Summit, Emad Mostaque, CEO of
            Stability AI, made the statement that we would have
          </p>
          <div class="post-left-info">
            <p>Jan 01, 2024</p>
            <span class="dot"></span>
            <p>10 min read</p>
          </div>
        </section>
        <section class="post-right">
          <h2>P1</h2>
        </section>
      </a>

      <a href="post" class="post">
        <section class="post-left">
          <div>
            <p class="post-left-blogger">Peter Diamandis</p>
            <h2>Will AI Replace All Coders?</h2>
          </div>

          <p class="post-left-description">
            During last year’s Abundance Summit, Emad Mostaque, CEO of
            Stability AI, made the statement that we would have
          </p>
          <div class="post-left-info">
            <p>Jan 01, 2024</p>
            <span class="dot"></span>
            <p>10 min read</p>
          </div>
        </section>
        <section class="post-right">
          <h2>P1</h2>
        </section>
      </a>
      <a href="post" class="post">
        <section class="post-left">
          <div>
            <p class="post-left-blogger">Peter Diamandis</p>
            <h2>Will AI Replace All Coders?</h2>
          </div>

          <p class="post-left-description">
            During last year’s Abundance Summit, Emad Mostaque, CEO of
            Stability AI, made the statement that we would have
          </p>
          <div class="post-left-info">
            <p>Jan 01, 2024</p>
            <span class="dot"></span>
            <p>10 min read</p>
          </div>
        </section>
        <section class="post-right">
          <h2>P1</h2>
        </section>
      </a>
      <a href="post" class="post">
        <section class="post-left">
          <div>
            <p class="post-left-blogger">Peter Diamandis</p>
            <h2>Will AI Replace All Coders?</h2>
          </div>

          <p class="post-left-description">
            During last year’s Abundance Summit, Emad Mostaque, CEO of
            Stability AI, made the statement that we would have
          </p>
          <div class="post-left-info">
            <p>Jan 01, 2024</p>
            <span class="dot"></span>
            <p>10 min read</p>
          </div>
        </section>
        <section class="post-right">
          <h2>P1</h2>
        </section>
      </a>
    </article>
  </main>

  <%- include('./partials/footer.ejs') %>