<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="./assets/css-reset.css" />
  <link rel="stylesheet" href="./assets/styles.css" />
  <title>Home Page</title>
</head>

<body>
  <header>
    <nav class="header-bar">
      <ul>
        <li class="logo-box">
          <a href="/"><img src="./assets/logo.png" id="logo" alt="logo" /></a>
          <form method="post" id="search-bar">
            <fieldset>
              <label id="search">
                Search Archive
                <input type="text" name="blog-search" />
              </label>
            </fieldset>
          </form>
        </li>
      </ul>

      <div class="hamburger-menu" id="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="nav-bar">
        <li class="flex" id="nav1">
          <a href="/" class="nav-link">Homepage</a>
        </li>
        <li class="flex" id="nav2">
          <a href="archive" class="nav-link">Archive</a>
        </li>
        <li class="flex" id="nav3">
          <a href="new-post" class="nav-link">Post</a>
        </li>
        <li class="flex" id="nav4">
          <a href="login" class="nav-link">Login</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="section">
      <div class="section-content container">
        <h1>Stay Curious.</h1>
        <p>
          Discover stories, thinking, and expertise <br />
          from writers on any topic.
        </p>
        <a href="login.html">Login</a>
      </div>
    </section>
    <article class="container">
      <h1>Posts</h1>

      <a href="post" class="post">
        <section class="post-left">
          <div>
            <p class="post-left-blogger">Peter Diamandis</p>
            <h2>Will AI Replace All Coders?</h2>
          </div>

          <p class="post-left-description">
            During last year’s Abundance Summit, Emad Mostaque, CEO of
            Stability AI, made the statement that we would have
          </p>
          <div class="post-left-info">
            <p>Jan 01, 2024</p>
            <span class="dot"></span>
            <p>10 min read</p>
          </div>
        </section>
        <section class="post-right">
          <h2>P1</h2>
        </section>
      </a>

      <a href="post" class="post">
        <section class="post-left">
          <div>
            <p class="post-left-blogger">Peter Diamandis</p>
            <h2>Will AI Replace All Coders?</h2>
          </div>

          <p class="post-left-description">
            During last year’s Abundance Summit, Emad Mostaque, CEO of
            Stability AI, made the statement that we would have
          </p>
          <div class="post-left-info">
            <p>Jan 01, 2024</p>
            <span class="dot"></span>
            <p>10 min read</p>
          </div>
        </section>
        <section class="post-right">
          <h2>P1</h2>
        </section>
      </a>
      <a href="post" class="post">
        <section class="post-left">
          <div>
            <p class="post-left-blogger">Peter Diamandis</p>
            <h2>Will AI Replace All Coders?</h2>
          </div>

          <p class="post-left-description">
            During last year’s Abundance Summit, Emad Mostaque, CEO of
            Stability AI, made the statement that we would have
          </p>
          <div class="post-left-info">
            <p>Jan 01, 2024</p>
            <span class="dot"></span>
            <p>10 min read</p>
          </div>
        </section>
        <section class="post-right">
          <h2>P1</h2>
        </section>
      </a>
      <a href="post" class="post">
        <section class="post-left">
          <div>
            <p class="post-left-blogger">Peter Diamandis</p>
            <h2>Will AI Replace All Coders?</h2>
          </div>

          <p class="post-left-description">
            During last year’s Abundance Summit, Emad Mostaque, CEO of
            Stability AI, made the statement that we would have
          </p>
          <div class="post-left-info">
            <p>Jan 01, 2024</p>
            <span class="dot"></span>
            <p>10 min read</p>
          </div>
        </section>
        <section class="post-right">
          <h2>P1</h2>
        </section>
      </a>
    </article>
  </main>

  <footer class="footer-bar">
    <h1>Contact us:</h1>
    <ul>
      <li>
        <a href="mailto:220211227@psu.edu.sa,221110390@psu.edu.sa,221110083@psu.edu.sa" class="contact-link">Email
          us!</a>
      </li>
      <li>
        <a href="https://github.com/MUGK1/Blog" class="contact-link">Github</a>
      </li>
    </ul>
    <p>All rights reserved.</p>
  </footer>
</body>
<script>
  document
    .getElementById("hamburger-menu")
    .addEventListener("click", function () {
      document.getElementById("nav-bar").classList.toggle("active");
    });
</script>

</html>