<%- include('./partials/header.ejs') %>

  <main class="main-style">
    <article>
      <section class="login">
        <div class="login-top-section">
          <h1>Sign in with email</h1>
          <p>
            Enter the email address associated with your account, and we’ll
            send a magic link to your inbox.
          </p>
        </div>

        <form action="#" method="post" class="login-form">
          <label>
            <input type="email" name="Email" placeholder="Email" required />
          </label>
          <label>
            <input type="password" name="password" placeholder="Password" minlength="8" required />
          </label>
          <button type="submit">Login</button>
        </form>
      </section>
    </article>
  </main>

  <%- include('./partials/footer.ejs') %>