<%- include('./partials/header.ejs') %>

  <% if(message) { %>
    <h3 class="message">
      <%= message %>
    </h3>
    <% } %>

      <% if(errors && errors.length> 0) { %>
        <h3 class="message">
          Please fix below errors
          <ul>
            <% errors.forEach(error=> { %>
              <li>
                <%= error.path + ": " + error.msg %>
              </li>
              <% }); %>
          </ul>
        </h3>
        <% } %>

          <main class="main-post">
            <h1 class="font">Add New Post</h1>
            <form action="/api/post" method="post">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required minlength="5" maxlength="100" />
              </div>

              <div class="form-group">
                <label for="subtitle">Subtitle</label>
                <input type="text" id="subtitle" name="subtitle" required minlength="5" maxlength="100" />
              </div>

              <div class="form-group">
                <label for="author">Author Name</label>
                <input type="text" id="author" name="author" required minlength="5" maxlength="50" />
              </div>

              <div class="form-group">
                <label for="date">Published At</label>
                <input type="date" id="publishedAt" name="publishedAt" required />
              </div>

              <div class="form-group">
                <label for="content">Post Content</label>
                <textarea id="content" name="content" rows="10" required minlength="100" maxlength="2000"></textarea>
              </div>

              <button type="submit">Submit Post</button>
            </form>
          </main>

          <%- include('./partials/footer.ejs') %>