@import "styles.css";

html {
    font-family: var(--font-stack-primary);
    font-weight: var(--font-weight-bold);
}

header 
{
    border-bottom: .01em;
    border-style: solid;
    border-color: var(--color-border);
    width:100%;
    font-size: var(--font-size-large);
}

.nav-bar
{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 100%;
    justify-content: left;
}

a.nav-link:link, a.nav-link:visited, a.contact-link:link, a.contact-link:visited
{
   color: var(--color-secondary-text);
   text-decoration: none;
}

a.nav-link:hover, a.contact-link:hover
{
   color: var(--color-primary-action);
   text-decoration: none;
}

#logo,#nav1,#nav2,#nav3, #nav4 
{
    padding: .4em;
    margin: .1em;
    border: transparent 1px;
}

footer
{
    padding-left: 5%;
    border-top: .01em;
    border-style: solid;
    border-color: var(--color-border);
    width: 95%;
    position: absolute;
    bottom:0.1em;
    font-size: var(--font-size-small);
}

/*  universal css above (header/nav/footer only; may be merged early)
    archive-only css below (to be merged and debugged later)*/


    #search-archive
    {
        padding: .5em .5em .5em 1em;
    }

    #search-results-table
    {
        size: 50%;
        border-collapse: collapse;
        padding: 1em;
        margin: 0em 1em 1em 1em;
        width: fit-content;
        height: 80%;
    }
    
    th, td
    {
        text-align: left;
        padding: .5em;
        margin: .5em;
        font-size: var(--font-size-small);
    }
    
    th
    {
        background-color:lightslategray;
        font-size: var(--font-size-normal);
    }
    
    tr:nth-child(2n)
    {
        background-color: lightgray;
    }
    
    a.author-link:link, a.author-link:visited, a.blog-link:link, a.blog-link:visited
    {
       color: var(--color-secondary-text);
       text-decoration: none;
    }
    
    a.author-link:hover, a.blog-link:hover
    {
       color: var(--color-primary-action);
       text-decoration: none;
    }

    .page-flip-button
    {
        padding: .5em;
        margin: .1em;
        color: var(--color-secondary-text);
        background-color: lightgray;
        border: none;
        border-radius: 10% / 10%;
    }
    .page-flip-button:hover
    {
        color: var(--color-primary-action);
    }