@import "styles.css";

.font {
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

main {
    line-height: 1.6;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: #000;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #666;
}

.author-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.author, .date {
    color: #999;
    font-style: italic;
}

article p {
    text-align: justify;
    margin-bottom: 1em;
}
